<div class="row">
  <div class="span3">
    <h1>Licenses</h1>
  </div>
  <div class="span1">
    <div class="new pagination">
      <ul><li><%= link_to icon_for('new'), new_license_path, { :title => 'New License' } %></li></ul>
    </div>
  </div>
</div>

<%= render 'licenses/index', :licenses => @licenses, :table_id => 'licenses' %>
