<div class="row">
  <div class="span2">
    <h1>Servers</h1>
  </div>
  <div class="span1">
    <div class="new pagination">
      <ul><li><%= link_to icon_for('new'), new_server_path, { :title => 'New Server' } %></li></ul>
    </div>
  </div>
</div>

<%= render 'servers/index', :servers => @servers, :table_id => 'servers' %>
