<div class="row">
  <div class="span2">
    <h1>Clients</h1>
  </div>
  <div class="span1">
    <div class="new pagination">
      <ul><li><%= link_to icon_for('new'), new_client_path, { :title => 'New Client' } %></li></ul>
    </div>
  </div>
</div>

<%= render "clients/index", :clients => @clients, :table_id => 'clients' %>
