<% if current_page.last? %>
  <li class="last disabled"><%= link_to icon_for('last-disabled', 'Last'), '#' %></li>
<% else %>
  <li class="last"><%= link_to icon_for('last', 'Last'), url, :remote => remote %></li>
<% end %>
