<% if current_page.first? %>
  <li class="prev disabled"><%= link_to raw('Previous &larr;'), '#' %><li>
<% else %>
  <li class="prev"><%= link_to raw('Previous &larr;'), url, :remote => remote %></li>
<% end %>
