<div class="row">
  <div class="span4">
    <h1>New Payment</h1>
  </div>
  <div class="span2">
    <div class="new pagination">
      <ul>
        <li><%= link_to icon_for('back'), payments_path %></li>
      </ul>
    </div>
  </div>
</div>
<%= render 'form' %>
