div.dataTables_length label {
    width: 180px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: left;
    width: 280px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: left;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}
