
#menu {

  .menu-item {
    float: left;
    padding: 0px;
    margin-left: 5px;
  }

  .menu-item.first {
    margin-left: 0px;
  }

  .menu-item a {
    padding: 10px;
    border: 1px solid #888;
  }

  .menu-item a:hover {
    color: #fff;
    background: #000;
  }
}

table {
  border: 1px dashed #888;
  background: #fff;
  padding: 5px;

  th, td {
    text-align: center;
    padding: 9px 5px;
  }

  tr.table-header th {
    border-bottom: 2px solid #333;
  }

  tr.odd {
    background: #fff;
  }

  tr.even {
    background: none repeat scroll 0 0 #F2F2F2;
  }

  td {
    border-bottom: 1px solid #B9B9B9;
  }

  td.text {
    text-align: left;
  }

  td.action {
    width: 60px;
  }

  a, a:visited {
    color: #000;
  }

  a:hover {
    color: #666;
  }
}
